<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Codigo Estado</th>
    </tr>  
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order[:Codigo] %></td>
        <td><%= order[:Nombre] %></td>
        <td><%= order[:CodigoEStado] %></td>
      </tr>
    <% end %>
  </tbody>  
</table>  
